target/
project/target/
project/project/

.bsp/
.metals/
.scala-build/
.idea/
.vscode/

.sbt-home/
.sbt-cache/
.ivy2/
.coursier/
venv/
.venv/

competitions/*/data/raw/*
competitions/*/data/interim/*
competitions/*/data/processed/*
competitions/*/output/*
competitions/*/models/*

!competitions/*/data/raw/.gitkeep
!competitions/*/data/interim/.gitkeep
!competitions/*/data/processed/.gitkeep
!competitions/*/output/.gitkeep
!competitions/*/models/.gitkeep

*.log
*.csv
*.zip
*.parquet
*.snappy
